.card-info {
    padding: 20px;
    background-color: white;
    height: 520px;
    position: relative;
   border-radius: 5px;
    transition: 0.5s;
}
.card-info:hover{
    transform: translateY(-15px);
    box-shadow: 3px 5px 19px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 19px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 19px -5px rgba(0, 0, 0, 0.75);
}
.card-info img {
    width: 80%;
}
.card-info h1 {
    margin: 15px 0px;
    cursor: default;
    color: #4F83C4;
    
}
.card-info p {
    margin: 10px 0px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.719);
}
.card-info h3 {
    color: #4F83C4;
}
.checkout-button {
    padding: 13px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: #4F83C4;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}