.blog-container{
    width: 100%;
    height: auto;
    padding: 30px 150px;

}
.blog{
    margin: 30px 0px;
    padding: 20px;
    border-radius: 3px;
 
    background-color: rgba(0, 0, 0, 0.151);
}
.blog h2 {
    margin: 10px 0px;
    font-weight: 500;
    cursor: default;
}
.blog p {
   margin-bottom: 20px;
   color: rgba(0, 0, 0, 0.808);
   word-spacing: 6px;
   font-size: 17px;
   cursor: default;
}
.blog ul{
    padding: 10px 30px;
}
@media only screen and (max-width: 600px){
    .blog-container{
        padding: 10px 30px;
    }
}