.blog-container{
    width: 100%;
    height: auto;
    padding: 30px 100px;

}
.blog{
    margin: 30px 0px;
}
.blog h2 {
    margin: 10px 0px;
}
.blog p {
   margin-bottom: 20px;
   color: rgba(0, 0, 0, 0.808);
   word-spacing: 6px;
   font-size: 17px;
}